.App {
  background-color: #282c34;
  text-align: center;
  min-height: 100vh;
}
.App-header {
  min-height: 20vh;
  max-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  padding-bottom: 30vh;
}

.App-link {
  color: #61dafb;
}

.header {
  
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.forms {
  padding: 20%;
}
.form-heading{
  color: azure;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3vw;
  margin: 2%;
}
.stepno{
  color: darksalmon;
  font-size: 1.5vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.form_f{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: chartreuse;
  font-size: 2vw;
  margin: 2%;
}
.form-control{
  width: 38vw;
  height: 3vh;
  margin: 1%;
  font-size: 3vh;
  justify-content: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cords_form {
  display: flex;
  padding-bottom: 50vh;
}
